@model Garage2_5.Models.ReciptViewModel

@{
    ViewBag.Title = "Recipt";
}

<h2>Index</h2>

<div>
    <h4>Recipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vehicle type
@*            @Html.DisplayNameFor(model => model.Type)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type) 
        </dd>

        <dt>
            Licence number
@*            @Html.DisplayNameFor(model => model.RegNumber)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            Check-in time
@*            @Html.DisplayNameFor(model => model.CheckInTime)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTimeView)
        </dd>

        <dt>
            Check-out time
@*            @Html.DisplayNameFor(model => model.CheckOutTime)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTimeView)
        </dd>

        <dt>
            Parking time
@*            @Html.DisplayNameFor(model => model.ParkTimeString)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkTimeString)
        </dd>

        <dt>
            Hourly rate (Sek)
@*            @Html.DisplayNameFor(model => model.ParkingFee)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingFee)
        </dd>

        <dt>
            Total parking fee (Sek)
@*            @Html.DisplayNameFor(model => model.TotalParkingFee)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalParkingFee)
        </dd>

    </dl>
</div>
<div>
    <p>
        <input type="button" value="Print Recipt" onclick="window.print()" class="btn btn-primary" />
    </p>
</div>
<p>
    @Html.ActionLink("Back to Garage Overview", "Index", "Vehicles") |
    @Html.ActionLink("Back to Start page", "Index", "Home")
</p>
