@model IEnumerable<Garage2_5.Models.Vehicle>

@{
    ViewBag.Title = "SearchResult";
}

<h2>Search results</h2>

<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Type)
    </th>
    <th>
        Licence number
@*            @Html.DisplayNameFor(model => model.RegNumber) *@
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Color)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Brand)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Model)
    </th>
    <th>
        Number of wheels
@*          @Html.DisplayNameFor(model => model.NumOfWheels) *@
    </th>
    <th>
        Check-in time
@*          @Html.DisplayNameFor(model => model.CheckInTime) *@
    </th>
    <th></th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
@*            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check-out", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>

<div>
    @Html.ActionLink("Back to Garage Overview", "Index", "Vehicles") |
    @Html.ActionLink("Back to Start page", "Index", "Home")
</div>
